@import "tailwindcss";

/* Custom styles for things not in Tailwind */
.text-shadow-blue {
    text-shadow: 2px 2px 4px rgba(0, 0, 255, 0.4);
}

.trash.dragging {
    opacity: 0.5;
    cursor: grabbing;
}

.info-box {
    transition: opacity 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure full screen coverage */
html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
}
